{% extends "__layout.twig" %}

{% block content %}
{{description}}<br>
<a class="" href="/amazing-animal/{{id}}?show=image">Картинка</a>
<a class="" href="/amazing-animal/{{id}}?show=info">Описание</a>
<ul class="list-group">
    <div class="rounded d-flex">
        <li class="list-group-item">
            {% block objectContent %}
            Выберите, что хотите посмотреть
            {% endblock %}
        </li>
    </div>
</ul>
{% endblock %}